@page
@model SkincareProductSalesSystem.RazorWebApp.Pages.SkinTestPages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    // var demo = Model.SkinTest.Count();
}
<div class="container-fluid testimonial py-5 text-black">
    <div class="container py-5">
        <div class="row" style="justify-content: center; text-align: center; padding-bottom: 5em;">
            <p class="fs-5 text-uppercase text-center" style="color: #ffc0cb;">Spa Vui Ve</p>
            <p class="fs-1 text-uppercase highlight-text">Chăm sóc sắc đẹp, chăm sóc tâm hồn</p>
        </div>
        <div class="container-fluid about py-5"
             style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -3px -3px 8px rgba(0, 0, 0, 0.1); padding-left: 3em; margin-bottom: 2em;">
            <div class="container py-2">
                <div class="row g-5">
                    <div class="wow fadeInLeft square-image-container-question col-lg-2" data-wow-delay="0.2s">
                        <img src="https://datafiles.nghean.gov.vn/nan-ubnd/2928/quantritintuc/im-lang-dang-so637814654183250991.jpg"
                             alt="" srcset="">
                    </div>
                    <div class="col-lg-9 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="h-100">
                            <h1 class="display-8 mb-4" style="font-weight: 600; color: #ff4f9d;">
                                Câu 1: <span style="color: black; font-size: 2rem; font-weight: 400;">
                                    Vào mỗi bữa sáng thức dậy, bạn thấy da mình như thế nào?
                                </span>
                            </h1>
                            <div class="text-dark mb-4 row g-2">
                                <div class="col-lg-5 col-md-5 wow fadeInLeft choose-answer choosen"
                                     data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>A. </span>
                                        Bình thường. Không có sự
                                        khác biệt so với trước khi ngủ
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-5 wow fadeInLeft" data-wow-delay="0.2s"></div>
                                <div class="col-lg-5 col-md-5 wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>B. </span>
                                        Nhiều dầu. Tập trung ở
                                        vùng mũi và trán.
                                    </p>
                                </div>
                                <div class="col-lg-5 col-md-5  wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>C.</span>
                                        Khô và nẻ.
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-5 wow fadeInLeft" data-wow-delay="0.2s"></div>
                                <div class="col-lg-5 col-md-5  wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>D.</span>
                                        Tấy đỏ, bong da.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid about py-5"
             style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -3px -3px 8px rgba(0, 0, 0, 0.1); padding-left: 3em; margin-bottom: 2em;">
            <div class="container py-2">
                <div class="row g-5">
                    <div class="col-lg-12 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="h-100">
                            <h1 class="display-8 mb-4" style="font-weight: 600; color: #ff4f9d;">
                                Câu 2: <span style="color: black; font-size: 2rem; font-weight: 400;">
                                    Vào mỗi bữa sáng thức dậy, bạn thấy da mình như thế nào?
                                </span>
                            </h1>
                            <div class="display-8 mb-4">
                                <img src="https://datafiles.nghean.gov.vn/nan-ubnd/2928/quantritintuc/im-lang-dang-so637814654183250991.jpg"
                                     alt="" srcset="" style="object-fit: cover; height: 20em; width: 100%;">
                            </div>
                            <div class="text-dark mb-4 row g-2">
                                <div class="col-lg-5 col-md-5 wow fadeInLeft choose-answer choosen"
                                     data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>A. </span>
                                        Bình thường. Không có sự
                                        khác biệt so với trước khi ngủ
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-5 wow fadeInLeft" data-wow-delay="0.2s"></div>
                                <div class="col-lg-5 col-md-5 wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>B. </span>
                                        Nhiều dầu. Tập trung ở
                                        vùng mũi và trán.
                                    </p>
                                </div>
                                <div class="col-lg-5 col-md-5  wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>C.</span>
                                        Khô và nẻ.
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-5 wow fadeInLeft" data-wow-delay="0.2s"></div>
                                <div class="col-lg-5 col-md-5  wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>D.</span>
                                        Tấy đỏ, bong da.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid about py-5"
             style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -3px -3px 8px rgba(0, 0, 0, 0.1); padding-left: 3em; margin-bottom: 2em;">
            <div class="container py-2">
                <div class="row g-5">
                    <div class="col-lg-2 wow fadeInLeft square-image-container-question" data-wow-delay="0.2s">
                        <img src="https://datafiles.nghean.gov.vn/nan-ubnd/2928/quantritintuc/im-lang-dang-so637814654183250991.jpg"
                             alt="" srcset="">
                    </div>
                    <div class="col-lg-9 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="h-100">
                            <h1 class="display-8 mb-4" style="font-weight: 600; color: #ff4f9d;">
                                Câu 1: <span style="color: black; font-size: 2rem; font-weight: 400;">
                                    Vào mỗi bữa sáng thức dậy, bạn thấy da mình như thế nào?
                                </span>
                            </h1>
                            <div class="text-dark mb-4 row g-2">
                                <div class="col-lg-5 col-md-5 wow fadeInLeft choose-answer choosen"
                                     data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>A. </span>
                                        Bình thường. Không có sự
                                        khác biệt so với trước khi ngủ
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-5 wow fadeInLeft" data-wow-delay="0.2s"></div>
                                <div class="col-lg-5 col-md-5 wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>B. </span>
                                        Nhiều dầu. Tập trung ở
                                        vùng mũi và trán.
                                    </p>
                                </div>
                                <div class="col-lg-5 col-md-5  wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>C.</span>
                                        Khô và nẻ.
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-5 wow fadeInLeft" data-wow-delay="0.2s"></div>
                                <div class="col-lg-5 col-md-5  wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>D.</span>
                                        Tấy đỏ, bong da.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid about py-5"
             style="box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -3px -3px 8px rgba(0, 0, 0, 0.1); padding-left: 3em; margin-bottom: 2em;">
            <div class="container py-2">
                <div class="row g-5">
                    <div class="col-lg-12 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="h-100">
                            <h1 class="display-8 mb-4" style="font-weight: 600; color: #ff4f9d;">
                                Câu 2: <span style="color: black; font-size: 2rem; font-weight: 400;">
                                    Vào mỗi bữa sáng thức dậy, bạn thấy da mình như thế nào?
                                </span>
                            </h1>
                            <div class="display-8 mb-4">
                                <img src="https://datafiles.nghean.gov.vn/nan-ubnd/2928/quantritintuc/im-lang-dang-so637814654183250991.jpg"
                                     alt="" srcset="" style="object-fit: cover; height: 20em; width: 100%;">
                            </div>
                            <div class="text-dark mb-4 row g-2">
                                <div class="col-lg-5 col-md-5 wow fadeInLeft choose-answer choosen"
                                     data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>A. </span>
                                        Bình thường. Không có sự
                                        khác biệt so với trước khi ngủ
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-5 wow fadeInLeft" data-wow-delay="0.2s"></div>
                                <div class="col-lg-5 col-md-5 wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>B. </span>
                                        Nhiều dầu. Tập trung ở
                                        vùng mũi và trán.
                                    </p>
                                </div>
                                <div class="col-lg-5 col-md-5  wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>C.</span>
                                        Khô và nẻ.
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-5 wow fadeInLeft" data-wow-delay="0.2s"></div>
                                <div class="col-lg-5 col-md-5  wow fadeInLeft choose-answer" data-wow-delay="0.2s">
                                    <p style="font-size: 1.2em; font-weight: 400; letter-spacing: -0.05em;">
                                        <span>D.</span>
                                        Tấy đỏ, bong da.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <p class="fs-4 text-uppercase text-center" style="color: #ffc0cb;">Spa Vui Ve</p>
            <h1 class="display-3">Chăm sóc sắc đẹp, chăm sóc tâm hồn</h1>
        </div>
        @{
            if (Model.SkinTest.Count <= 0)
            {
                <div class="text-center">
                    <h2>Hiện tại chưa có bài kiểm tra nào</h2>
                </div>
            }
            for (int i = 0; i < Model.SkinTest.Count; i++)
            {
                <div class="row g-4">

                    <div class="col-lg-12">
                        <div class="services-item bg-light border-4 border-end rounded p-4" style="border: 2px solid #ffc0cb;color: #ffc0cb;">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="services-content text-end">
                                        <h3>Câu hỏi @i</h3>
                                        <p>@Model.SkinTest[i]</p>
                                        <div class="row mb-3">
                                            <div class="col-6 d-flex flex-column justify-content-between">
                                                <a href="#" class="btn rounded-pill py-2 px-4 mx-2  my-2" style="background-color: #ffc0cb; color: #333; border: 2px solid #ffc0cb; transition: all 0.3s ease;">A. @Model.SkinTest[i].OptionA</a>
                                                <a href="#" class="btn rounded-pill py-2 px-4 mx-2  my-2" style="background-color: #ffc0cb; color: #333; border: 2px solid #ffc0cb; transition: all 0.3s ease;">B. @Model.SkinTest[i].OptionB</a>
                                            </div>
                                            <div class="col-6 d-flex flex-column justify-content-between">
                                                <a href="#" class="btn rounded-pill py-2 px-4 mx-2  my-2" style="background-color: #ffc0cb; color: #333; border: 2px solid #ffc0cb; transition: all 0.3s ease;">C. @Model.SkinTest[i].OptionC</a>
                                                <a href="#" class="btn rounded-pill py-2 px-4 mx-2  my-2" style="background-color: #ffc0cb; color: #333; border: 2px solid #ffc0cb; transition: all 0.3s ease;">D. @Model.SkinTest[i].OptionD</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="services-img d-flex align-items-center justify-content-center rounded">
                                        <img src="~/images/question_1.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <div class="services-btn text-center">
                            <a href="#" class="btn rounded-pill py-3 px-5" style="background-color: #ffc0cb; color: #333; border: 2px solid #ffc0cb; transition: all 0.3s ease;">Xem kết quả</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>



