@page
@model SkincareProductSalesSystem.RazorWebApp.Pages.SkinTypePages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SkinType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.Characteristics)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.Characteristics)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.RecommendedIngredients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.RecommendedIngredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.AvoidIngredients)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.AvoidIngredients)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.CareInstructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.CareInstructions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SkinType.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SkinType.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SkinType.SkinTypeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
