@page
@model             RegisterModel
@{
	ViewData["Title"] = "Register";
}

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

@section Styles {
	<!-- Page-specific CSS -->
	<link rel="stylesheet" href="~/css/login.css" />
}

<div class="login-page">
	<div class="form">
		<form class="register-form" asp-page-handler="OnPostAsync">
			<div class="header">Welcome!</div>
			<br />
			<script src="https://accounts.google.com/gsi/client" async></script>
			<div id="g_id_onload"
				 data-client_id="YOUR_GOOGLE_CLIENT_ID"
				 data-login_uri="https://your.domain/your_login_endpoint"
				 data-auto_prompt="false">
			</div>
			<div class="g_id_signin"
				 data-type="standard"
				 data-size="large"
				 data-theme="outline"
				 data-text="sign_in_with"
				 data-shape="rectangular"
				 data-logo_alignment="left">
			</div>
			<br />
			<div class="header">OR</div>
			<br />
			<p class="input_label">Username</p>
			<input type="text" placeholder="" asp-for=@Model.RegisterRequest.Username/>
			<span id="validation-err" asp-validation-for="@Model.RegisterRequest.Username"></span>

			<p class="input_label">Email Address</p>
			<input type="text" placeholder="" asp-for=@Model.RegisterRequest.Email/>
			<span id="validation-err" asp-validation-for="@Model.RegisterRequest.Email"></span>

			<p class="input_label">Full Name</p>
			<input type="text" placeholder="" asp-for=@Model.RegisterRequest.FullName />
			<span id="validation-err" asp-validation-for="@Model.RegisterRequest.FullName"></span>

			<p class="input_label">Phone Number</p>
			<input type="text" placeholder="" asp-for=@Model.RegisterRequest.PhoneNumber />
			<span id="validation-err" asp-validation-for="@Model.RegisterRequest.PhoneNumber"></span>

			<p class="input_label">Password</p>
			<input type="password" placeholder="" asp-for=@Model.RegisterRequest.Password />
			<span id="validation-err" asp-validation-for="@Model.RegisterRequest.Password"></span>

			@if (!string.IsNullOrEmpty(Model.ErrorMessage))
			{
				<div class="alert alert-danger">@Model.ErrorMessage</div>
			}

			<button type="submit">create</button>
			<p class="message">Already registered? <a href="../AccountPages/Login">Sign In</a></p>
			<p class ="message"><a href="../AccountPages/ForgotPassword">Forgot Password?</a></p>
		</form>
	</div>
</div>

